/*----------DEFAULT SETTINGS------------*/
body {
    margin: 0;
    color: white;
    font-family: "Cherry Bomb One", system-ui;
    letter-spacing: 3px;
    font-weight: normal;
    background-color: hsl(0, 0%, 0%);
}

/*---------TOP BAR SETTINGS----------*/
#top-bar {
    background-color: hsl(295, 100%, 13%);
    height: 220px;

    width: 100%;
}

/*---------MAIN SETTINGS--------*/
main {
    margin-left: 150px;
}

/*----------SIDE-BAR SETTINGS ------------*/
#side-bar {
    position: fixed;
    background-color: hsl(296, 86%, 28%);
    width: 240px;
    height: 100%;

}

.overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: hsla(301, 96%, 17%, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: .5s ease;

}

#side-bar-profile-card:hover .overlay {
    height: 100%;

}

#side-bar-profile-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: #340537;
    border: black 1px solid;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: 10s ease-in;
    margin-right: 20px;
    font-size: 12px;
}

/*----------BEHIND THE WHOLE BODY SETTINGS----------*/
#main-info {
    background-color: black;
    height: 2500px;
}
/*--------------THE WHOLE BODY SETTINGS------------*/
.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-left: 250px;
    background: #780A7D;
    height: 3000px;
    width: 1000px;

}



/*-----------FOOTER SETTINGS---------------*/
.footer {
    display: flex;
    position: fixed;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
    left: 0;
    bottom: 0;
    width: 1000px;
    height: 55px;
    background-color: #340537;
    color: #FF00E1;
    text-align: center;
    margin-left: 400px;
    
}